@font-face {
  font-family: 'Michroma';
  src: url('fonts/Michroma/Michroma-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Istok-web';
  src: url('fonts/Istok_Web/IstokWeb-Regular.ttf') format('truetype');
  font-weight: regular;
}

:root {
  --color-bg: #FFFCEF;

  --color-primary-50: #E5F3E9;
  --color-primary-100: #CCE6D4;
  --color-primary-200: #75B389;
  --color-primary-300: #3F7A52;
  --color-primary-400: #30543C;
  --color-primary-500: #184025;
  --color-primary-700: #053013;
  --color-primary-800: #03260E;

  --color-secondary-50: #FDF4F3;
  --color-secondary-100: #FDE5E3;
  --color-secondary-200: #FCD0CC;
  --color-secondary-300: #F8B0A9;
  --color-secondary-400: #F28177;
  --color-secondary-500: #D43C2E;
  --color-secondary-600: #9B2C22; /* start*/
  --color-secondary-700: #7B2821;
  --color-secondary-800: #691E17;
  --color-secondary-900: #3A0707;

  --font-ui: 'Istok-web';
}

body {
  /* background-image: url(./pattern_01.svg); */
  background-color: var(--color-bg);
}

video { 
  display: none; 
  border: 2px solid red;
}

main {
  margin: 0 auto;
  max-width: 680px;
}

/* canvas {  */
/*   transform: scaleX(1);  */
/* } */

h1 {
  font-family: 'Michroma';
  font-size: 38px;
  text-transform: uppercase;
  color: var(--color-primary-700);
  border-top: 4px solid var(--color-primary-700);
  position: relative;
  max-width: 360px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 1rem;
}

h1:before, h1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--color-primary-700);
  margin-top: 4px;
  left: 0
}

h1:before {
  top: -16px;
}

h1:after {
  top: -24px;
}

.description {
  font-family: var(--font-ui);
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 1.2em;
  max-width: 72ex;
} 

.description p {
  margin-bottom: 0.5em;
}

button {
  font-family: var(--font-ui);
  font-size: 16px;
  padding: 12px 16px;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
}

.button--primary {
  color: var(--color-bg);
  background-color: var(--color-primary-500);
  text-transform: uppercase;
}

.button--primary:hover {
  background-color: var(--color-primary-700);
}

.button--primary:active {
  background-color: var(--color-primary-800);
}

.button--secondary {
  color: var(--color-bg);
  background-color: var(--color-secondary-600);
  text-transform: uppercase;
}

.button--secondary:hover {
  background-color: var(--color-secondary-700);
}


.button--secondary:active {
  background-color: var(--color-secondary-800);
}

.select__label {
  font-family: var(--font-ui);
  font-size: 0.875rem;
  color: #2e2e2e;
  display: block;
}

select {
  background-color: transparent; 
  border: 2px solid var(--color-primary-500);
  border-radius: 4px;
  color: var(--color-primary-800);
  font-family: var(--font-ui);
  padding: 4px 6px;
  margin-bottom: 1rem;
}

select:hover {
  background-color: var(--color-primary-100);
}

select:active {
  background-color: var(--color-primary-200);
}

#video__start {
  display: block;
}

.canvas__container {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 9 / 16;
  max-height: 90vh;
  /* margin: 0 auto; */
  overflow: hidden;
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 20px rgba(0,0,0,.3); */

}

@media (min-width: 768px) {
  .canvas__container {
    width: 90vw;
    aspect-ratio: 4 / 3;  
    max-width: 640px;
  }
}

.output_canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hidden {
  display: none;
}

.text-secondary-600 {
  color: var(--color-secondary-600); 
}
