@font-face {
  font-family: 'Michroma';
  src: url('fonts/Michroma/Michroma-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Istok-web';
  src: url('fonts/Istok_Web/IstokWeb-Regular.ttf') format('truetype');
  font-weight: regular;
}

body {
  /* background-image: url(./pattern_01.svg); */
}

video { 
  display: none; 
}

/* canvas {  */
/*   transform: scaleX(1);  */
/* } */

h1 {
  font-family: 'Michroma';
  font-size: 38px;
}

.canvas__container {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 9 / 16;
  max-height: 90vh;
  /* margin: 0 auto; */
  overflow: hidden;
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 20px rgba(0,0,0,.3); */

}

@media (min-width: 768px) {
  .canvas__container {
    width: 90vw;
    aspect-ratio: 4 / 3;  
    max-width: 640px;
  }
}

.output_canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hidden {
  display: none;
}
