
video { 
  display: none; 
}

/* canvas {  */
/*   transform: scaleX(1);  */
/* } */

.canvas__container {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 9 / 16;
  max-height: 90vh;
  /* margin: 0 auto; */
  overflow: hidden;
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 20px rgba(0,0,0,.3); */

}

@media (min-width: 768px) {
  .canvas__container {
    width: 90vw;
    aspect-ratio: 16 / 9;
    max-width: 640px;
  }
}

.output_canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
